.admonition-bodyContainer {
  :first-child {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.mdx {
  mjx-container {
    mjx-script {
      mjx-mtext {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: end;
      }
    }
  }
}
