@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer base {
//   * {
//     @apply border-border;
//   }
//   body {
//     @apply bg-background text-foreground;
//     @apply font-sans;
//   }
// }

.centerAbsPos {
  left: 50%;
  top: 50%;
}

.centerAbsTran {
  transform: translate(-50%, -50%);
}

// @layer base {
// }
