@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: contain;
  position: relative;
  text-rendering: optimizeLegibility;
}
.centerAbsPos {
  left: 50%;
  top: 50%;
}

.centerAbsTran {
  transform: translate(-50%, -50%);
}
