.next-btn,
.prev-btn {
  top: calc(50% - 20px);
  position: absolute;
  background: hsl(var(--muted));
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  border: 1px solid hsl(var(--muted-foreground) / 0.4);
}

.next-btn {
  right: 10px;
}

.prev-btn {
  left: 10px;
}
