hoist-workspace-packages=true
public-hoist-pattern[]=*prisma*
auto-install-peers=true
link-workspace-packages=true
; legacy-peer-deps=true
node-linker=hoisted
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
