hoist-workspace-packages=true
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=!api
public-hoist-pattern[]=!@ulld/api
hoist-pattern[]=!api
hoist-pattern[]=!@ulld/api
auto-install-peers=true
legacy-peer-deps=true
node-linker=hoisted
