.rbc-off-range-bg {
  background-color: hsl(var(--muted));
}

.rbc-off-range {
  color: hsl(var(--muted-foreground));
}

.rbc-calendar {
  * {
    border-color: hsl(var(--border)) !important;
  }
  .rbc-today {
    background-color: #c7d2fe;
  }
  .rbc-event {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    &.rbc-selected {
      background-color: hsl(var(--primary));
      color: hsl(var(--primary-foreground));
    }
  }
  .rbc-day-slot {
    .rbc-background-event {
      background-color: hsl(var(--primary));
      color: hsl(var(--primary-foreground));
    }
  }
  .rbc-show-more {
    color: hsl(var(--foreground));
    background-color: transparent;
    font-weight: 300;
  }
}

.rbc-toolbar {
  button {
    color: rgb(55, 65, 81);
    background-color: hsl(var(--background));
    &:hover {
      background-color: #f3f4f6;
    }
  }
}

html.dark {
  .rbc-toolbar {
    button {
      background-color: hsl(var(--background));
      transition: all 0.2s ease-in;
      color: #e5e7eb;
      &:hover {
        background-color: #1f2937;
      }
      &.rbc-active {
        background-color: hsl(var(--primary));
        color: hsl(var(--primary-foreground));
      }
    }
  }
  .rbc-calendar {
    .rbc-today {
      background-color: #312e81;
    }
  }
}
