@layer base {
  :root {
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }

  .plot-theme-saphire {
    :root {
      --chart-1: 221.2 83.2% 53.3%;
      --chart-2: 212 95% 68%;
      --chart-3: 216 92% 60%;
      --chart-4: 210 98% 78%;
      --chart-5: 212 97% 87%;
    }

    .dark {
      --chart-1: 221.2 83.2% 53.3%;
      --chart-2: 212 95% 68%;
      --chart-3: 216 92% 60%;
      --chart-4: 210 98% 78%;
      --chart-5: 212 97% 87%;
    }
  }
  .plot-theme-palette {
    :root {
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
  .plot-theme-ruby {
    :root {
      --chart-1: 347 77% 50%;
      --chart-2: 352 83% 91%;
      --chart-3: 350 80% 72%;
      --chart-4: 351 83% 82%;
      --chart-5: 349 77% 62%;
    }

    .dark {
      --chart-1: 347 77% 50%;
      --chart-2: 349 77% 62%;
      --chart-3: 350 80% 72%;
      --chart-4: 351 83% 82%;
      --chart-5: 352 83% 91%;
    }
  }
  .plot-theme-emerald {
    :root {
      --chart-1: 139 65% 20%;
      --chart-2: 140 74% 44%;
      --chart-3: 142 88% 28%;
      --chart-4: 137 55% 15%;
      --chart-5: 141 40% 9%;
    }

    .dark {
      --chart-1: 142 88% 28%;
      --chart-2: 139 65% 20%;
      --chart-3: 140 74% 24%;
      --chart-4: 137 55% 15%;
      --chart-5: 141 40% 9%;
    }
  }
  .plot-theme-midnight {
    :root {
      --chart-1: 359 2% 90%;
      --chart-2: 240 1% 74%;
      --chart-3: 240 1% 58%;
      --chart-4: 240 1% 42%;
      --chart-5: 240 2% 26%;
    }

    .dark {
      --chart-1: 359 2% 90%;
      --chart-2: 240 1% 74%;
      --chart-3: 240 1% 58%;
      --chart-4: 240 1% 42%;
      --chart-5: 240 2% 26%;
    }
  }
}
