.monacoModalContent {
  div[role="dialog"] {
    padding: 0px;
  }
  &.noTitle {
    div[role="dialog"] {
      padding-top: 3rem;
    }
  }
  &.hasTitle {
    div[role="dialog"] {
      padding-top: 1rem;
    }
  }
}
